.chapter {
    width: 500px;
    height: 385px;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    background-color: #FFE0B6;
    box-sizing: border-box;
    border: 1px solid #FFB44D;
    box-shadow: 4px 4px 10px rgba(#9A5900, 0.3);

    .chapter__icon {
        font-size: 3rem;
        display: block;
        text-align: center;
        margin: {
            top: 1rem;
            bottom: 1rem;
        }
    }


    .chapter__title {
        font-size: 1.6rem;
        color: var(--color-brown);
    }

    .chapter__description {
        font-weight: 400;
        font-size: 1.2rem;
        color: var(--color-brown);
    }

    @media (min-width: 768px) {
        margin-bottom: 2rem;
        margin-right: 2.5rem;
    }
}