.pill {
  font-family: "Share Tech Mono", monospace;
  background-color: rgba($color: #ffdaa9, $alpha: 0.4);
  border-radius: 20px;
  padding: 1rem 2rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
}
