:host {
    background-color: #e9946b;
    color: #fff;
    padding: 2rem;
    display: inline-block;
    border-radius: 60px;
    position: relative;
    border: 2px solid #fff;
    max-width: 100%;

    @media (min-width: 768px) {
        margin-left: 3rem;
        width: 580px;
    } 
}

h3 {
    font-family: "Staatliches", cursive;
    font-size: 2.5rem;
    font-weight: 400;


    strong {
        font-size: 3rem;
        font-weight: 400;

        color: var(--color-brown);
    }
}

.ebook-teachings {
    list-style: none;
    padding: 0;
    margin-bottom: 3rem;
    list-style-position: outside;

    li {
        color: var(--color-light-yellow);
        font-weight: 600;
        font-size: 1.3rem;
    }
}


input {
    width: 100%;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: 1.3rem;
    color: #DCDCDC;
    border: 1px solid #cac7c7;

    padding: 1rem;
    width: 100%;
    background-color: #fff;
    border: 1px solid #D5D5D5;
    text-transform: uppercase;

    &::placeholder {
        color: #DCDCDC;
        font-family: "Staatliches", cursive;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
    }
}

button  {
    color: #fff;
    margin-top: 1.5rem;
    border-radius: 16px;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    background-image: linear-gradient(90deg, #36922E 0%, #44AD3A 100%);
    border: 1px solid #0D7C02;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: .5rem 2rem;
    box-shadow:  4px 4px 10px rgba(0, 0, 0, 0.25);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
    font-family: "Staatliches";
    letter-spacing: 1px;
}

.feedback {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 8px;

    &.feedback--success {
        color: #35922c;
        background-color: #d9ffd5;
    }

    &.feedback--error {
        color: #e02323;
        background-color: #ffd0d0;
    }
}

