:host {
    background-color: #e9946b;
    color: #fff;
    padding: 2rem 3rem;
    display: inline-block;
    border-radius: 60px 0 0 60px;
    border: 2px solid #fff;

    @media (min-width: 768px) {
        margin-bottom: 2rem;
        width: 500px;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

picture {
    border-radius: 50%;
    overflow: hidden;
    margin-left: 2rem;
}

h3 {
    font-family: "Staatliches", cursive;
    font-size: 2.5rem;
    font-weight: 400;

    strong {
        font-size: 3rem;
        display: block;
        font-weight: 400;
        color: var(--color-brown);
    }
}


p {

    font-size: 1.3rem;
    color: var(--color-light-yellow);
    font-weight: 600;
    line-height: 1.5;
}